.dropdown-container {
  max-width: 250px;
  margin: 40px auto;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  color: rgb(247, 247, 247);
  cursor: pointer;
}

.menu-title {
  background-color: rgb(163, 162, 162);
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(99, 97, 97);
  transform-origin: top center;
  display: none;
}

ul.dropdown-menu li:hover {
  background: rgb(196, 22, 161);
}

.visible {
  display: block;
  transform-origin: top;
  animation: dropit .8s, ease-in-out;
}

@keyframes dropit{
  0% {
    transform: scaleY(0);
  }
  70% {
    transform: scaleY(1.2);
  }
  100% {
    transform: scaleY(1);
  }
}



